<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row d-flex">
                    <div class="col-md-6">
                        <h3 class="p-3"><i class="fa-brands fa-quora"></i> {{qtitle}}</h3>
                    </div>
                    <div class="col-md-6 p-3 text-end">
                        <button type="submit" class="btn" data-bs-target="tooltip" title="Add New Questions"
                            [routerLink]="'/admin/add-question/'+qId+'/'+qtitle"><i
                                class="fa-solid fa-circle-plus fa-2xl"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card text-center border-success mb-3" *ngFor="let ques of qusetions; let i = index">
                <div class="card-header border-success">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active text-dark border-success"><b>Qusetion</b></a>
                        </li>
                        <button type="submit" class="btn" data-bs-target="tooltip" title="Add New Questions"
                            [routerLink]="'/admin/add-question/'+qId+'/'+qtitle"><i
                                class="fa-solid fa-circle-plus fa-2xl"></i></button>
                        <button type="submit" class="btn" data-bs-target="tooltip" title="Dlete Qusetion"
                            (click)="deleteQuestion(ques.quesId)"><i class="fa-solid fa-trash-can fa-2xl"></i></button>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <p>
                            <b class="px-2">Q{{ i + 1 }})</b>
                            <span [innerHTML]="ques.content"></span>
                        </p>
                    </h5>
                    <div class="row p-3">
                        <div class="col-md-6">
                            <b>1) {{ques.option1}}</b>
                        </div>
                        <div class="col-md-6">
                            <b>2) {{ques.option2}}</b>
                        </div>
                        <div class="col-md-6">
                            <b>3) {{ques.option3}}</b>
                        </div>
                        <div class="col-md-6">
                            <b>4) {{ques.option4}}</b>
                        </div>
                    </div>
                </div>
                <div class="card-footer h5 text-success border-success">
                    <b>Correct Answer : {{ques.answer}}</b>
                </div>
            </div>
        </div>
    </div>
</div>